@media (min-width: 700px) and (max-width: 799.98px) {
    #skills img {
        grid-column: 2 / 6;
    }
}

@media (min-width: 800px) and (max-width: 899.98px) {
    header .header-content h1 {
        grid-column: 3 / 13;
    }

    #skills .skills-content {
        grid-column: 1 / 12;
        color: #fff;
        background: var(--secondary-blue);
        display: flex;
        flex-direction: column;
        column-gap: 20px;
        padding: 20px 40px 50px 140px;
        border-radius: 20px 100px 20px 20px;
        z-index: 1;
        margin: auto 0 auto -140px;
    }

    .dark-mode #skills .skills-content {
        background: var(--secondary-purple);
    }

    #skills img {
        display: none;
    }
}

@media (min-width: 900px) {
    #skills img {
        grid-column: 8 / 13;
        animation: none;
        margin: auto 0;
        width: 100%;
    }

    #skills .skills-content {
        grid-column: 1 / 8;
        color: #fff;
        background: var(--secondary-blue);
        display: flex;
        flex-direction: column;
        column-gap: 20px;
        padding: 20px 40px 50px 140px;
        border-radius: 20px 100px 20px 20px;
        z-index: 1;
        margin: auto 0 auto -140px;
    }

    .dark-mode #skills .skills-content {
        background: var(--secondary-purple);
    }
    
    .dark-mode #skills img {
        grid-column: 8 / 13;
        width: 100%;
    }
}

@media (min-width: 900px) and (max-width: 1069.98px) {
    header .header-content h1 {
        grid-column: 3 / 11;
    }
}

@media (min-width: 1070px) {
    header .header-content h1 {
        grid-column: 3 / 10;
    }
}


@media (min-width: 800px) and (max-width: 1079.98px) {
    #portfolio .portfolio-content .card {
        border-radius: 0;
        margin: 0 auto;
        max-height: 430px;
        height: 430px;
        max-width: 427px;
        transition: max-height 0.4s ease, box-shadow 0.4s ease;
    }

    #contact h1.container {
        margin-bottom: 40px;
    }

    #contact .contact-content img {
        display: none;
    }

    #contact .contact-content .contact-area {
        background: var(--secondary-white);
        grid-column: 2 / 12;
        padding: 45px 50px;
        border-radius: 100px 20px 20px 20px;
        box-shadow: 2px 4px 28px rgba(0, 0, 0, 0.25);
        margin: auto 0;
    }
}

@media (min-width: 1080px) {
    #contact h1.container {
        margin-bottom: 20px;
    }

    #contact .contact-content img {
        grid-column: 1 / 8;
        display: block;
        width: 100%;
    }

    #contact .contact-content .contact-area {
        background: var(--secondary-white);
        grid-column: 8 / 13;
        padding: 45px 50px;
        border-radius: 100px 20px 20px 20px;
        box-shadow: 2px 4px 28px rgba(0, 0, 0, 0.25);
        margin: auto 0;
    }

    /* Footer --------------------------------------------- */ 
    footer {
        background: var(--secondary-blue);
        padding: 50px 0;
    }

    .dark-mode footer {
        background: var(--secondary-purple);
    }

    footer .brand {
        grid-column: 1 / 5;
        grid-row: 1;
    }

    footer .brand h1 {
        font-size: 40px;
        margin: 0 0 15px;
    }

    footer .brand p {
        font-size: 1em;
        margin: 0;
    }

    footer .navs {
        grid-column: 5 / 15;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
    }

    footer .navs nav:nth-child(2) {
        order: 1;
    }

    footer .navs nav:nth-child(1) {
        order: 2;
    }

    footer .navs nav:nth-child(3) {
        order: 3;
    }

    footer .navs nav:nth-child(2) ul li {
        cursor: pointer;
    }

    footer .navs nav h2 {
        font-size: 20px;
    }

    footer nav ul li, footer nav ul li a {
        font-size: 14px;
    }

    footer p.copyright {
        grid-row: 2;
        grid-column: 1 / 13;
        font-size: 14px;
        margin: 0;
    }
}

@media (min-width: 800px) {
    /* Global ------------------------------------ */
    .container {
        max-width: 1220px;
        padding: 0 20px;
        margin: 0 auto;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;
    }

    /* Header ------------------------------------ */
    header, .dark-mode header {
        border-radius: 0;
        box-shadow: none;
    }

    header nav .menu-hamburger {
        display: none;
    }

    header nav ul {
        position: initial;
        height: auto;
        width: auto;
        max-width: initial;
        background: none;
        backdrop-filter: none;
        box-shadow: none;
        grid-column: 4 / 13;
        display: flex;
        padding: 0;
        margin-left: auto;
    }

    .dark-mode header nav ul {
      background: none;  
    }

    header nav ul li {
        line-height: initial;
        text-indent: initial;
        margin-left: 20px;
        cursor: pointer;
        position: relative;
        color: rgba(255, 255, 255, 0.8);
        border: none;
    }

    header nav ul li::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        height: 4px;
        width: 100%;
        max-width: 0;
        background: var(--secondary-blue);
        transition: max-width 0.5s ease;
    }

    .dark-mode header nav ul li::after {
        background: var(--tertiary-purple);
    }

    header nav ul li:last-child {
        margin-left: 40px;
    }

    header nav ul li:last-child::after {
        display: initial;
        background: none;
        height: 0;
        width: 0;
    }

    header nav ul li:hover {
        color: #fff;
    }

    header nav ul li:hover::after {
        max-width: 100%;
        left: 0;
        /* right: 0; */
    }

    header nav ul li span {
        display: none;
    }

    header nav ul li i {
        display: initial !important;
    }

    header .header-content h1 {
        font-size: 3em;
    }

    header .header-content p {
        font-size: 24px;
        grid-column: 3 / 10;
    }

    header .header-content a {
        grid-column: 3 / 6;
        transition: 0.4s ease;
    }

    header .header-content a:hover {
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid #fff;
        color: #fff;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    }

    /* About ---------------------------------------- */
    #about {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #about .illustration {
        display: initial;
        grid-column: 1 / 8;
        margin: auto 0;
    }

    .dark-mode #about .illustration {
        content: url('../images/About-me-pana-purple.svg');
        width: 100%;
    }

    #about .about-content {
        grid-column: 8 / 13;
        background: none;
        color: #000;
        box-shadow: none;
        border: none;
    }

    .dark-mode #about .about-content {
        background: none;
        color: #fff;
    }

    #about .about-content h1 {
        font-size: 36px;
        color: var(--primary-blue);
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    }

    .dark-mode #about .about-content h1 {
        color: #fff;
    }

    #about .about-content p {
        font-size: 18px;
        line-height: 33px;
        margin-bottom: 40px;
    }

    #about .about-content h2 span {
        color: var(--primary-blue);
        cursor: pointer;
    }

    /* Technologies ---------------------------------- */
    #technologies {
        background: var(--secondary-white);
        padding: 30px 20px 60px;
        margin-bottom: 100px;
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.25);
    }

    .dark-mode #technologies {
        background: var(--primary-dark);
    }

    #technologies h1 {
        display: block;
        font-size: 36px;
        margin-bottom: 50px;
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
        padding: 0;
    }

    #technologies h1::after {
        display: none;
    }

    #technologies .technologies-topics {
        background: none;
        filter: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
        column-gap: 60px;
        row-gap: 40px;
    }

    .dark-mode #technologies .technologies-topics {
        background: none;
        filter: none;
    }

    #technologies .technologies-topics div {
        display: initial;
        box-sizing: border-box;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* margin: 0 40px; */
    }

    #technologies .technologies-topics div i {
        color: var(--primary-blue);
        font-size: 80px;
        transition: 0.6s ease;
    }

    .dark-mode #technologies .technologies-topics div i {
        color: #fff;
    }

    #technologies .technologies-topics div span {
        position: absolute;
        font-size: 18px;
        color: var(--primary-blue);
    }

    .dark-mode #technologies .technologies-topics div span {
        color: #fff;
    }

    #technologies .technologies-topics div:hover span {
        transform: translateY(58px);
        opacity: 1;
    }

    #technologies .technologies-topics div:hover i {
        transform: scale(1.05);
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    }

    .dark-mode #technologies .technologies-topics div:hover i {
        text-shadow: 2px 4px 6px rgba(255, 255, 255, 0.25);
    }

    /* Skills ---------------------------------------- */
    #skills {
        background: none;
        position: relative;
        padding: 0;
        box-shadow: none;
        margin-bottom: 100px;
    }

    .dark-mode #skills {
        background: none;
    }

    #skills .skills-content h1 {
        color: #fff;
        text-shadow: none;
        font-size: 36px;
        margin-bottom: 40px;
        grid-column: 1 / 8;
        display: initial;
    }

    #skills .skills-content h1::before {
        display: none;
    }

    #skills .skills-content ul {
        grid-column: 1 / 7;
        max-width: 590px;
        margin-left: 30px;
    }

    /* Swiper Customizations ------------------------- */
    #portfolio .portfolio-content .swiper-wrapper {
        grid-column: 1 / 13;
    }

    /* Portfolio ------------------------------------- */
    #portfolio {
        background: var(--secondary-white);
        padding-top: 30px;
        /* height: 543.25px; */
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.25);
        margin-bottom: 100px;
    }

    .dark-mode #portfolio {
        background: var(--primary-dark);
    }

    #portfolio h1.container {
        display: none;
    }

    #portfolio h1.container::after {
        display: none;
    }

    #portfolio .portfolio-content, .dark-mode #portfolio .portfolio-content {
        background: none;
        box-shadow: none;
        height: 100%;
        max-height: 514px;
    }

    #portfolio .portfolio-content h1.second-head {
        display: initial;
        font-size: 36px;
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
        margin-bottom: 40px;
        color: var(--primary-blue);
    }

    .dark-mode #portfolio .portfolio-content h1.second-head {
        color: #fff;
    }

    #portfolio .portfolio-content .prev, #portfolio .portfolio-content .next {
        margin: 0;
    }

    #portfolio .portfolio-content .prev {
        grid-column: 11;
    }

    #portfolio .portfolio-content .next {
        grid-column: 12;
    }

    #portfolio .portfolio-content .card {
        border-radius: 0;
        margin: 0 auto;
        max-height: 430px;
        height: 430px;
        transition: max-height 0.4s ease, box-shadow 0.4s ease;
    }

    #portfolio .portfolio-content .card.active {
        height: auto;
        max-height: 100%;
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
        margin-bottom: 30px;
    }

    #portfolio .portfolio-content .card .card-content div:first-child {
        gap: 0;
        margin: 0;
        align-items: center;
        margin-bottom: 20px;
    }

    #portfolio .portfolio-content .card .card-content h1 {
        font-weight: 500;
        margin: 0;
    }

    #portfolio .portfolio-content .card .card-content i.fa-angle-down {
        display: initial;
        font-size: 20px;
        cursor: pointer;
        transition: transform 0.4s ease;
    }

    #portfolio .portfolio-content .card.active .card-content i.fa-angle-down {
        transform: rotate(180deg);
    }

    #portfolio .portfolio-content .card .card-content p:nth-child(2) {
        display: initial;
        margin-bottom: 20px;
        transition: opacity 0.4s ease;
    }

    #portfolio .portfolio-content .card.active .card-content p:nth-child(2) {
        position: absolute;
        opacity: 0;
        z-index: -99;
    }

    #portfolio .portfolio-content .card .card-content p:nth-child(3) {
        position: absolute;
        opacity: 0;
        z-index: -99;
        transition: opacity 0.4s ease;
    }

    #portfolio .portfolio-content .card.active .card-content p:nth-child(3) {
        position: initial;
        opacity: 1;
        z-index: initial;
    }

    #portfolio .portfolio-content .card.active .card-content div:last-child {
        margin-top: 20px;
    }

    #portfolio .portfolio-content .card .card-content div:last-child a {
        transition: 0.3s ease;
    }

    #portfolio .portfolio-content .card .card-content div:last-child a:hover {
        background: #fff;
        color: #000;
    }

    /* Contact -------------------------------------- */
    #contact {
        margin-bottom: 90px;
    }
 
    #contact h1.container {
        font-size: 48px;
        font-weight: 500;
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
        display: block;
        margin-top: 0;
        text-align: center;
    }

    #contact h1.container::before, #contact h1.container::after {
        display: none;
    }

    #contact .contact-content, .dark-mode #contact .contact-content {
        background: none;
        padding: 0;
    }

    #contact .contact-content .container {
        margin: 0 auto;
    }

    .dark-mode #contact .contact-content img {
        content: url('../images/Contact-us-bro-purple.svg');
    }

    .dark-mode #contact .contact-content .contact-area {
        background: linear-gradient(to left bottom, #240046, #7C20D4);
    }

    #contact .contact-content .contact-area h1 {
        color: var(--primary-blue);
        font-size: 36px;
        text-shadow: none;
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    .dark-mode #contact .contact-content .contact-area h1 {
        color: #fff;
    }

    #contact .contact-content .contact-area form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #contact .contact-content .contact-area form .input-group {
        margin: 0;
    }

    #contact .contact-content .contact-area form .input-group:nth-child(3),
    #contact .contact-content .contact-area form .input-group:nth-child(4), #contact .contact-content .contact-area form button {
        grid-column: 1 / 3;
    }

    #contact .contact-content .contact-area form button {
        width: 285px;
        margin: 0 auto;
        background: var(--primary-blue);
        cursor: pointer;
    }

    .dark-mode #contact .contact-content .contact-area form button {
        background: var(--primary-dark);
    }

    #contact .contact-content .contact-area form button:hover {
        background: var(--secondary-blue);
    }

    .dark-mode #contact .contact-content .contact-area form button:hover {
        background: #131414;
    }

    #contact .contact-content .contact-area form input,
    #contact .contact-content .contact-area form textarea {
        background: #fff;
        border: 2px solid var(--secondary-blue);
        color: var(--primary-blue);
    }

    .dark-mode #contact .contact-content .contact-area form input,
    .dark-mode #contact .contact-content .contact-area form textarea {
        border: 2px solid #fff;
        color: #fff;
    }

    #contact .contact-content .contact-area form label {
        transform: translateY(13px);
        background: #fff;
        color: rgba(0, 150, 199, 0.75);
    }

    .dark-mode #contact .contact-content .contact-area form label {
        color: rgba(255, 255, 255, 0.75);
    }

    #contact .contact-content .contact-area form input {
        height: 50px;
    }

    #contact .contact-content .contact-area form textarea {
        height: 150px;
    }

    /* Modal ----------------------------------- */ 
    .modal-overlay .modal {
        background: var(--secondary-blue);
        color: #fff;
        max-width: 600px;
        margin: 60px auto;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        transform: translateX(40px);
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.4s ease; 
    }

    .modal-overlay .modal button {
        padding: 10px 30px;
        border-radius: 10px;
        color: #000;
        background: #fff;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        border: 0;
        width: auto;
    }
}